#header {
  height: 400px;
  width: 100%;
  background-color: rgb(192, 151, 18);
  color: #FFFF;
}

#header .image {
  position: absolute;
  top: 150px;
  right: 500px;
}

#header .name {
  position: absolute;
  top: 400px;
  right: 560px;
}